<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/js/jquery.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <script src="assets/js/bootstrap.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>   
    <br>
    <div class="container-fluid" style="background-color:rgb(41, 163, 219)">
       <img src="./images/download.png" style="display:block;width:50px;height:50px;margin-left:20px margin-bottom:100px;" alt="">
    </div>
    <br>
    <div class="container-fluid " style="width:700px;">
        <ul class="nav nav-tabs">
            <li class="nav-item" id="tab-view" style="cursor:pointer">
                <a class="nav-link active"  >Todos</a>
            </li>
            <li class="nav-item" id="tab-add" style="cursor:pointer">
                <a class="nav-link" >add</a>
            </li>
            <li class="nav-item" id="tab-delete" style="cursor:pointer">
                <a class="nav-link">delete todos</a>
            </li>
           
            <li class="nav-item" style="margin-left:200px;" style="cursor:pointer">
                <a class="nav-link " href="/"><img src="./images/logout.png" alt="" style="width:30px;height:30px;"></a>
            </li>
        </ul>
        <br><br>
        <div class="container contents" id="container-view">
          <ul class="list-group"></ul>
        {{#each data as |todo|}}
        <li class="list-group-item">{{todo.TODOS}} <br>
         <p style="color:grey;font-size:12px;margin-bottom:2px;"> {{todo.TIME}}</p>
         </li>
        {{/each}}
        </ul>
        </div>

        <div class="container contents text-center" id="container-add" style="display:none;">
            <div class="row">
                <form action="/todos" method="post" >
                <textarea name="data" id="" placeholder="Enter your todo here " cols="100" rows="7"></textarea>
                <br>
                <button class="btn btn-lg btn-success m-3" style="width:250px">add todo</button>
              </form>
            </div>
        </div>  

        <div class="container contents" id="container-delete" style="display:none"> 
              <ul class="list-group">
              {{#each data as |todo|}}
            
                <li class="list-group-item" name="todo">{{todo.TODOS}}  <br>
                <p style="color:grey;font-size:12px;margin-bottom:2px;"> {{todo.TIME}}</p>
                </li>
                <button class="btn btn-danger del mt-2 mb-2" id="{{todo.ID}}" name="id" onclick="del({{todo.ID}})" style="width:100px;">delete</button>
              {{/each}}
              </ul>           
        </div>

        <div class="container contents" id="container-deleted"></div>
        <div class="container contents" id="container-modify"></div>

        
      

        
        
        

    </div>
</body>
<script src="./myscript/script1.js"></script>
</html>